

/* src/styles/custom.css */
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

form input {
  outline: none !important;
  transition: border 0.3s ease !important;
}

form input:focus {
  border-color: #3b82f6 !important; /* blue-500 from Tailwind */
}

.card-shadow {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1) !important;
}
.dinesh{
  color: red
}
.reg-btn {
  background-color: #2563eb; /* Blue-600 */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}
html, body, #root {
  height: 100%;
}
